<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="application-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="redirect-uri" value="http://localhost/app1234" />
    
    <!-- app-onlt token support-->
    <!-- second application to add in app-only token support -->
    <add key="confidential-application-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="confidential-application-secret" value="ADD_SECRET_HERE" />
    <add key="tenant-name" value="YOUR_TENANT.onMicrosoft.com" />

    <!-- add the GUID for the workspace, dataset, report and dashboard you want to use for demos -->
    <add key="app-workspace-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="dataset-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="report-id" value="00000000-0000-0000-0000-000000000000" /> 
    <add key="dashboard-id" value="00000000-0000-0000-0000-000000000000" />

    <!-- Add GUID for report that uses RLS -->
    <add key="rls-dataset-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="rls-report-id" value="00000000-0000-0000-0000-000000000000" />

    <!-- Add GUID for addtional datasets with same schema as dataset-id -->
    <add key="dataset2-id" value="00000000-0000-0000-0000-000000000000" />
    <add key="dataset3-id" value="00000000-0000-0000-0000-000000000000" />

    <!-- configure where this application generates pages on local hard drive -->
    <!-- make sure your local-pages-folder value ends with a "\" -->
    <add key="local-pages-folder" value="C:\LivePages\" />

  </appSettings> 

  <runtime> 

       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 

            <dependentAssembly> 

                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 

                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" /> 

            </dependentAssembly> 

            <dependentAssembly> 

                 <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /> 

                 <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" /> 

            </dependentAssembly> 

       </assemblyBinding> 

  </runtime>

</configuration>